body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#div-post{
display: flex;
align-items: center;
justify-content:start;
font-family: Ubuntu;
font-style: normal;
font-weight: 500;
font-size: 500px;
line-height: 17px;
color: #FFFFFF;
}
#text{
  height: 50px;
  width: 300px;
position: relative;
border-color: #f7f7f7;
background: #E5E5E5;
border-radius: 5px;
margin: 40px;
font-size: 30px;
font-family: Ubuntu;
}
.btn-save{
color: #FFFFFF;
border-color: #62C082;
background: #62C082;
border-radius: 30px;
font-size: 30px;
font-family: Ubuntu;
}
#div-logo{
display: flex;
justify-content: center;
}
#div-btn-exit{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
#btn-exit{
  color: #FFFFFF;
  border-color: #62C082;
  background: #62C082;
  border-radius: 30px;
  margin: 20px;
  position: relative;
  font-size: 30px;
  padding: 10px;
  font-family: Ubuntu;
  }
  #div-logo {
    display: flex;
  }

  .div-notas{
  display: flex;
    flex-wrap: wrap;
  }
.div-note{
display: flex;
flex-direction: column;
border: 6px solid  #8C9F48;
width: 160px;
height: 210px;
margin: 8px;
box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.25);
}
.div-text{
  width: 160px;
  height: 190px;
  align-content: center;
  text-align: center;
  font-family: Yaldevi Colombo Medium;
  color: #44644F;
  
}
.div-button{
  justify-content: center;
align-content: center;
}
.button-edit{
  margin:0px, 10px, 0px, 10px;
  background: #62C082;
  border-radius: 10px;
  border: 0px;
 box-sizing: border-box;
 color: #05471c;
 font-family: Ubuntu;

}
.button-delete{

  font-family: Ubuntu;
  background: #62C082;
  border-radius: 10px;
  border: 0px;
 box-sizing: border-box;
 color: #05471c;
}