body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#div-post {
  display: flex;
  align-items: center;
  justify-content: start;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 500px;
  line-height: 17px;
  color: #FFFFFF;
}

#text {
  height: 50px;
  width: 300px;
  position: relative;
  border-color: #f7f7f7;
  background: #E5E5E5;
  border-radius: 5px;
  margin: 40px;
  font-size: 30px;
  font-family: Ubuntu;
  color: #05471c;
}

.btn-save {
  color: #FFFFFF;
  border-color: #62C082;
  background: #62C082;
  border-radius: 30px;
  font-size: 30px;
  width: 120px;
  font-family: Ubuntu;
}

#div-logo {
  display: flex;
  justify-content: center;
}

#div-btn-exit {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

#btn-exit {
  width: 120px;
  color: #FFFFFF;
  border-color: #62C082;
  background: #62C082;
  border-radius: 30px;
  margin: 20px;
  position: relative;
  font-size: 30px;
  font-family: Ubuntu;
}

#div-logo {
  display: flex;
}

.div-notas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div-note {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 160px;
  height: 210px;
  margin: 14px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.div-text {
  width: 160px;
  height: 190px;
  align-content: center;
  text-align: center;
  font-family: Yaldevi Colombo Medium;
  color: #44644F;

}

.div-button {
  display: flex;

  justify-content: center;
  align-content: center;
  padding: 10px;
}

.button-edit {
  background-color: #4caf50;
  /* Color verde */
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 5px;
}

/* Estilos para el botón de Delete */
.button-delete {
  background-color: #f44336;
  /* Color rojo */
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

#div-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#img-logo {
  position: relative;
  width: 400px;
  height: 130px;
}

#sing-up {
  position: relative;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 31px;

  color: #416345;

}

.text-login {
  text-align: left;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 21px;
  margin: 10px;
  color: #446448;
}

.input-login {
  margin: 5px;
  text-align: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  width: 310px;
  height: 30px;
  background: #F6F5F5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border-color: rgb(255, 255, 255);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.btn-singup {
  margin: 20px;
  border-radius: 50px;
  background: #62C082;
  width: 310px;
  height: 40px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 17px;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  color: #FFFDFD;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

#btn-singup {
  margin: 20px;
  border-radius: 30px;
  background: #62C082;
  width: 140px;
  height: 35px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 17px;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  color: #FFFDFD;
}

#or {
  margin: 5px;
  position: relative;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 21px;

  color: #000000;

}

#img-google {
  margin: 20px;
  position: relative;
  width: 40px;
  height: 40px;
  border: 10px;
}

#logUser {
  margin: 20px;
  position: relative;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 21px;
  padding: 15px;
  color: #0a2410;
}


#input-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 900px) {
  #img-inicio {
    display: none;
  }

  #div-login {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0%;
    padding: 0%;
  }

  #img-logo {
    width: 200px;
    height: 100px;
  }

  #logUser {
    font-size: 19px;
    line-height: 21px;
    padding: 15px;
    color: #0a2410;
  }

  .btn-save {
    font-size: 20px;
    width: 100px;
    margin: 5px;
  }

  #text {
    height: 80px;
    width: 200px;
    position: relative;
    border-color: #f7f7f7;
    background: #E5E5E5;
    border-radius: 5px;
    margin: 10px;
    font-size: 27px;
  }
}